---
- name: installing docker
  hosts: all
  become: yes

  tasks:
    - name: Ensure docker is present
      apt:
        name: "{{ item }}"
        state: present
      become: yes
      with_items:
        - docker.io
        - python-pip

- name: Building an image with artifact, pushing image to Dockerhub
  hosts: build
  become: yes

  tasks:

    - name: Cloning Dockerfile to build
      git:
        repo: http://193.122.59.82:3000/petrovvitalik/Ansible-1-remastered.git
        dest: /root/build/
        force: yes

    - name: Pull variables with credentials from secret file
      include_vars: docker_credentials.yml

    - name: Login to Dockerhub
      docker_login:
        username: "{{ login }}"
        email: "{{ email }}"
        password: "{{ password }}"

    - name: Build an image and push to Dockerhub
      docker_image:
        path: /root/build/
        name: webapp-remastered
        repository: petrovitalik/webapp-remastered
        tag: latest
        push: yes


- name: Running tomcat
  hosts: web
  become: yes

  tasks:

    - name: Download and Launch web app
      docker_container:
        name: webapp-remastered
        image: petrovitalik/webapp-remastered
        state: started
        ports:
          - "8080:8080"